@charset "UTF-8";
@font-face {
    font-family: roboto;
    src: url(../fonts/RobotoCondensed-Light.ttf) format(truetype); 
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto;
}
html {
    background-color: rgba(24, 165, 175, 0.26);
}
:root {
    --cor1: #df8c1f;
    --cor2: #1626FF;
}
body {
    height: 100vh;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(17, 1fr);
    grid-template-areas: "header header header header header header header header header header "
    "header header header header header header header header header header"
    "main main main main main main main main main main"
    "main main main main main main main main main main"
    "main main main main main main main main main main"
    "main main main main main main main main main main"
    "main main main main main main main main main main"
    "main main main main main main main main main main"
    "main main main main main main main main main main"
    "main main main main main main main main main main"
    "main main main main main main main main main main"
    "main main main main main main main main main main"
    "footer footer footer footer footer footer footer footer footer footer"
    "aside aside aside aside aside aside aside aside aside aside"
    "aside aside aside aside aside aside aside aside aside aside"
    "aside aside aside aside aside aside aside aside aside aside"
    
    ;
}
header {
    display: flex;
    justify-content: space-between;
    grid-area: header;
    height: 80px;
    margin-bottom: 30px;
    background-color: #026CB6;
    background-position: center center;
    border: 1px solid rgba(0, 0, 0, 0.39);
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

header > img {
    margin-top: 5px;
    margin-left: 20px;
    width: 400px;
    height: 70px;
}
#menu1 {
    display: flex;
    justify-content: right;
    align-items: center;
    border-right: 1px solid black;
    width: 840px;
}
#menu1 > a {
    font-size: 1.2em;
    background-color: #f29822;
    border-bottom: 1px solid black;
    font-weight: bold;
    padding: 10px;   
    margin: 20px;
    color: black;
    text-decoration: none;
}

header > #menu2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}
#menu2 > a {
    background-color: #f29822;
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px;
    margin: 15px;
    border-bottom: 1px solid black;
    color: black;
    text-decoration: none;
}
main {
    margin: auto;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98%;
    height: 500px;
    background-image: url(../imagens/praia5.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    grid-area: main;
    background-color: blue;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.651), -1px -1px 1px rgba(0, 0, 0, 0.384);
}
main > fieldset {/*#026CB6*/
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: top;
    width: 400px;
    height: 400px;
    background-color: rgba(5, 190, 223, 0.473);
    border-radius: 15px;
    

}
main > fieldset > legend {
    font-size: 1.6em;
    padding: 6px;
    color: black;
    text-shadow:  -1px -1px 1px rgba(0, 0, 0, 0.74);
    background-image: linear-gradient(to top, #915609ce , var(--cor1));
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.527), -1px -1px 1px rgba(0, 0, 0, 0.521);
}

main > fieldset > p > #idestino {
    margin-top: 50px;
    width: 280px;
    height: 30px;
    position: relative;
    top: -20px;
    border-left: none;
    border-right: none;
    border-top: none;
    background-color: rgb(228, 222, 212);
    font-size: 1.2em;
    border-radius: 2px;
    box-shadow: 1px 1px 1px black;
    text-indent: 10px;
}

main > fieldset > p > #labeld {
    position: relative;
    top:-20px;
    font-size: 1.4em;
    font-weight: bold;
}
main > fieldset > p > #isaindo {
    margin-top: 0px;
    width: 280px;
    height: 30px;
    margin-top: 30px;
    position: relative;
    border-left: none;
    border-right: none;
    border-top: none;
    background-color: rgb(228, 222, 212);
    font-size: 1.2em;
    border-radius: 2px;
    box-shadow: 1px 1px 1px black;
    text-indent: 10px;
}
main > fieldset > p > input:placeholder-shown{
    font-size:1.2em;
    text-indent: 5px;
}
main > fieldset > p > #labels {
    position: relative;
    left: -6%;
    font-size: 1.4em;
    font-weight: bold;
}
main > fieldset > p > #iida {
    position: relative;
    left: -25px;
    top: -70px;
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
}

main > fieldset > p > #ivolta {
    position: relative;
    left: -5px;
    top: -70px;
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
}
main > fieldset > p > #i-ida {
    width: 200px;
    text-align: center;
    font-size: 1.2em;
    position: relative;
    top: -50px;
    left: -30px;
}
main > fieldset > p > #i-ida2 {
    font-size: 1.2em;
    font-weight: bold;
    position: relative;
    top: -50px;
    left: -30px;
    
}
main > fieldset > p > #i-volta2 {
    font-size: 1.2em;
    font-weight: bold;
    position: relative;
    top: -25px;
    left: -45px;
}

.volta{
    display: none;
}
main > fieldset > p > #i-volta {
    width: 200px;
    
    text-align: center;
    font-size: 1.2em;
    position: relative;
    top: -25px;
    left: -45px;
    
}
#ivolta:checked ~ .volta{
    display: inline-block;
}
main >fieldset > a {
    border-color: #c28719;
    font-size: 1.3em;
    font-weight: bold;
    text-decoration: none;
    border: 1px solid ;
    background-color: rgba(189, 131, 25, 0.918);
    border-radius: 0;
    color: white;
    padding: 10px 50px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    -webkit-transition: color 150ms ease-in-out;
    transition: color 150ms ease-in-out;
    position: absolute;
    left: px;
    top: 510px;
}
main > fieldset > a:after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 0;
    height: 100%;
    background: #a60fec;
    z-index: -1;
    -webkit-transition: width 150ms ease-in-out;
    transition: width 150ms ease-in-out;
}

main > fieldset > a:hover {
    color: #fff;
  }
main > fieldset > a:hover:after {
    width: 110%;
  }
  main > img {
    width: 10%;
    position: absolute;
    left: 1.5%;
    animation-name: fly;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-delay: 2s;
  }
  @keyframes fly {
    from {
        transform: translateX(0px) rotate(13grad);
         
    }
   10% {
     transform: translate(740px, 200px) ;
   
  }
  20% {
    transform:  translate(900px, -220px);
  }
  30% {
    transform: translate(950px,220px);
  }
  40%{
    transform: translateX(0px);
  }
  50% {
    transform: translate(990px, -220px);
  }
  60% {
    transform: translate(450px, 220px);
  }
  70%{
    transform: translate(850px, -220px);
  }
  80% {
    transform: translate(100px,220px);
  }
  90% {
    transform: translate(0px) scale(1.5);
  }
  100% {
    transform: scale(1.2);
  }
}
.bot {
    background-color: rgb(235, 144, 8);
    padding: 5px;
    position: relative;
    font-size: 1.1em;
    font-weight: bold;
    border-bottom: 1px solid black;
    top: -1050px;
    left: 60px;    

}
#idesligar {
    position: relative;
    top: -1050px;
    left: 50px;
    width: 20px;
}
#idesligar:checked ~ main > img {
    display: none;
}
aside {
    width: 98%;
    border-radius: 8px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    grid-area: aside;
    height: 400px;
    background-image: url(../imagens/backfloresta.jpg);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    
    border: 1px solid black;
}
.estados {
    text-align: center;
    background-color: gray;
    width: 300px;
    height: 299px;
    border: 2px solid orange;
    box-shadow: -1px 1px 10px black, 1px -1px 10px black;
    cursor: pointer;
    transition: .7s;
}
.estados > h1 {
    
    margin-top: 8px;
    background-color: rgba(255, 255, 255, 0.678);
    padding: 5px;
    width: 70%;
}
.hvr {
    display: none;
    position: relative;
    top: 80%;
    left: 45px;
    transition: .7s;
    animation-name: hvr;
    animation-duration: .5s;
    transition: .5s;
    animation-fill-mode: forwards;
}
.estados:hover {
    transform: scale(1.1);
}

.estados:hover .hvr {
    display: block;
    scale: 1.1;
    
}
.estados:hover h1 {
    display: none;
}

@keyframes hvr {
    to{
        top: 40%;
    }    
}
#rj {
    background-image: url(../imagens/rj.jpg);
    background-position: center center;
    background-size: cover;  
}
#rec {
    background-image: url(../imagens/rec.jpg);
    background-position: center center;
    background-size: cover;

}
#sp {
    background-image: url(../imagens/sp.jpeg);
    background-position: center center;
    background-size: cover;
}
#op {
    background-image: url(../imagens/op.jfif);
    background-position: center center;
    background-size: cover;
}
#nat {
    background-image: url(../imagens/natal.jpg);
    background-position: center center;
    background-size: cover;
}

.estados > img {
    
    width: 30%;
    position: relative;
    top: -45px;
    left: 105px;
}
#rec > img {
    left: 97px;
}
#nat > img {
    left: 97px;
}

footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    grid-area: footer;
    height: 50px;
}
footer > img {
    width: 4%;
    height: 80%;
}
#AA {
    width: 13%;
}
#LT {
    width: 10%;
}
#GL {
    width: 10%;
    height: 100px;
}
.menuz3 {
    display: none;
}
@media screen and (min-width: 400px) and (max-width: 764px) {
    body {
        grid-gap: 35px;
    }
    header > img {
        position: relative;
        left: -42px;
    }
    header > #menu1 {
        display:none;
        flex-direction: column;
        justify-content: center;
        background-color: rgba(36, 191, 196, 0.685);
        border: 2px solid black;
        height: 200px;
        width: 100px;
        padding: 80px;
        position: absolute;
        top: 40px;
        animation-fill-mode: forwards;
        animation-name: menuz;
        transition: 0.3s;
        animation-duration: 0.5s;
    }
    header > #menu1 > a {
        margin: 0;
        margin-bottom: 15px;
        padding: 5px;
        width: 150px;
        text-align: center;
        border-bottom: 2px solid black;
    }

    header > #menu2 {
        display:flex;
        width:200px;
        height: 50px;
        text-align: center;
        position: relative;
        left: -403px;
        top: 100%;
    }
    header > #menu2 > a {
        width:100px;
        padding: 10px 20px; 
        margin-top: 30px;
    }
    .menuz3 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
        left: 85%;
        top: 26%;
        width: 35px;
        height: 35px;
        cursor: pointer;
    }
    .linhas {
        background-color: rgb(255, 153, 0);
        height: 5px;
        width: 30px;
        margin-bottom: 5px;
        border-radius: 10px;
    }
    
    
    .menuz3:checked ~ #menu1 {
       display: flex;
       transform: rotate(72grad);
    }

    
    @keyframes menuz {
        to {
            transform: translate(245px, 5%)
        }
       }
    #imenu3 {
        display: none;
    }
    header > label > span {
        background-color: red;
        
    }
    .bot {
        display: none;
    }
    #idesligar {
        display: none;
    }
    main > img {
        display: none;
    }
    main > fieldset > p > #iida {
        position: relative;
        left: 45px;
        top: -59px;
        font-size: 1.2em;
        font-weight: bold;
        cursor: pointer;
    }
    #ivolta:checked ~ .volta{
        display: inline-block;
    }

   
    #iida:checked ~ #i-ida {
        left: -24.5px;
        top: -78px;
    }
    #iida:checked ~ #i-ida2 {
        left: -24.5px;
        top: -78px;
    }
    #iida:checked ~ #ivolta {
        top: -88px;
        left: -13px;
    }
    
    


    main > fieldset > p > #ivolta {
        position: relative;
        left: 70px;
        top: -60px;
        font-size: 1.2em;
        font-weight: bold;
        cursor: pointer;
    }
    
    main > fieldset > p > #i-ida {
        width: 200px;
        text-align: center;
        font-size: 1.2em;
        position: relative;
        top: -50px;
        left: 58px;
    }
    main > fieldset > p > #i-ida2 {
        font-size: 1.2em;
        font-weight: bold;
        position: relative;
        top: -50px;
        left: 58px;
        
    }
    main > fieldset > p > #i-volta {
        width: 200px;
        height: 28.5px;
        text-align: center;
        font-size: 1.2em;
        top: -55px;
        left: 90px;
    }
    main > fieldset > p > #i-volta2 {
        width: 200px;
        height: 28.5px;
        text-align: center;
        font-size: 1.2em;
        position: relative;
       left: -35px;
        
    }
    footer {
        display: flex;
        
    }
    #DA {
        width: 10%;
    }
    #AA {
        width: 18%;
    }
    #LT {
        width: 18%;
    }
    #GL {
        width: 10%;
        height: 100px;
    }
    aside {
        height: 1700px;
        background-image: url(../imagens/ceuback.jpg);
        background-position: bottom top;
        
        
    }
    .estados {
        margin-bottom: 10px;
    }
}
@media screen and (min-width: 100px) and (max-width: 400px) {
    body {
        grid-gap: 35px;
    }
    header {
        width: 400px;
    }
    header > img {
        position: relative;
        left: 40px;
    }
    header > #menu1 {
        display:flex;
        justify-content: center;
        position: relative;
        top: 80px;
        left:-420px;
        border: none;
    }
    header > #menu1 > a {
        margin: 0;
        margin-left: 3px;
        margin-bottom: 15px;
        padding: 0px;
        width: 130px;
        text-align: center;
        border: 2px solid black;
    }

    header > #menu2 {
        display:flex;
        width:200px;
        height: 50px;
        text-align: center;
        position: relative;
        left: -700px;
        top: 150px;
    }
    header > #menu2 > a {
        width:100px;
        padding: 10px 20px; 
        margin-top: 30px;
        border: 2px solid black;
    }
    .menuz3 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
        left: 85%;
        top: 26%;
        width: 35px;
        height: 35px;
        cursor: pointer;
    }
    .linhas {
        background-color: rgb(255, 153, 0);
        height: 5px;
        width: 30px;
        margin-bottom: 5px;
        border-radius: 10px;
    }
    
    
    .menuz3:checked ~ #menu1 {
       display: flex;
       transform: rotate(72grad);
    }

    
    @keyframes menuz {
        to {
            transform: translate(245px, 5%)
        }
       }
    #imenu3 {
        display: none;
    }
   
    .bot {
        display: none;
    }
    #idesligar {
        display: none;
    }
    main > fieldset {
        position: relative;
        top: 40px;
    }
    main > img {
        display: none;
    }
    main > fieldset > p > #i-volta {
        width: 200px;
        height: 32px;
        text-align: center;
        font-size: 1.2em;
        position: absolute;
        top: 250px;
        left: 81px;
    }
    main > fieldset > p > #i-volta2 {
        width: 200px;
        height: 28.5px;
        text-align: center;
        font-size: 1.2em;
        position: absolute;
        top: 255px;
        left: -45px;
        
    }
    footer {
        display: flex;
        
    }
    #DA {
        width: 10%;
    }
    #AA {
        width: 18%;
    }
    #LT {
        width: 18%;
    }
    #GL {
        width: 10%;
        height: 100px;
    }
    aside {
        height: 1700px;
        background-image: url(../imagens/ceuback.jpg);
        background-position: bottom top;
        
        
    }
    .estados {
        margin-bottom: 10px;
    }
    .menuz3 {
        display: none;
    }
    .linhas {
        background-color: rgb(255, 153, 0);
        height: 5px;
        width: 30px;
        margin-bottom: 5px;
        border-radius: 10px;
    }
    @keyframes menuz {
        to {
            transform: translate(245px, 5%)
        }
       }
    #imenu3 {
        display: none;
    }
    header > label > span {
        background-color: red;
        
    }
    .bot {
        display: none;
    }
    #idesligar {
        display: none;
    }
    main > img {
        display: none;
    }
}